body{
  background-color: rgb(32, 43, 56) ;
}
.App {
  text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.1em;
  width: 500px;
  position: relative;
  float: right;
}

img{
  height:300px;
  width:600px;
}

h1{
  display: inline-block;
}

.hn-info{
  width: 600px;
  position: absolute;
}


